.button {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    font-family: inherit;
    padding: 1rem 2rem;
    border-radius: var(--border--radius);
    background: transparent;
    color: var(--theme-main-color-rgb);
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    border: 0;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--button--background-hover);
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }

    &:hover::after {
        opacity: 1;
    }

    &_full {
        width: 100%;
    }

    &_primary {
        background-color: var(--theme-main-color-rgb);
        color: var(--button-primary-text);
    }

    &_success {
        background-color: var(--button-success);
        color: var(--button-success-text);
    }

    &_important {
        background-color: var(--button-important);
        color: var(--button-important-text);
    }
}
