@mixin input-focus() {
    &:focus {
        box-shadow: var(--input--border-focusShadow);
        border-color: var(--theme-main-color-rgb);
        outline: 0;
    }
}

.input {
    border-radius: var(--border--radius);
    background-color: var(--box--backgroundColor);
    border: 1px solid var(--input--border);
    color: inherit;

    &_label {
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
        font-weight: bold;
        display: inline-block;
    }

    &_text {
        padding: 1.3rem 1.2rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        @include input-focus();
    }

    &_select {
        padding: 1.3rem 3.2rem 1.3rem 1.2rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        appearance: none;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &::-ms-expand {
            display: none;
        }

        @include input-focus();
    }

    &_file {
        padding: 1.3rem 1.2rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        cursor: pointer;

        @include input-focus();
    }

    &_full {
        width: 100%;
    }

    &_error {
        box-shadow: var(--input-error-border-focusShadow);
        border-color: var(--input-error-border-rgb);
    }
}
