.message {
    padding: 1.2rem 2.5rem 1.2rem 2.5rem;
    margin: 1rem 0 2rem 0;
    border-left: 4px solid var(--theme-main-color-rgb);
    position: relative;
    border-radius: 0 var(--border--radius) var(--border--radius) 0;

    &::before {
        position: absolute;
        top: 12px;
        left: -12px;
        color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }

    &-error {
        border-color: var(--message-error);
        background-color: var(--message-error-01);

        &::before {
            content: '!';
            background-color: var(--message-error);
        }
    }

    &-success {
        border-color: var(--message-success);
        background-color: var(--message-success-01);

        &::before {
            content: '✓';
            background-color: var(--message-success);
        }
    }

    &-info {
        background-color: var(--theme-main-color-rgba-01);

        &::before {
            content: 'i';
            background-color: var(--theme-main-color-rgb);
        }
    }
}
