@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.modal {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5001;
    width: 480px;

    @media screen and (max-width: 767px) {
        width: calc(100% - 2rem);
    }

    &_content {
        text-align: center;
        animation: zoomIn 0.15s ease-in-out;

        svg {
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        &\:text {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 1.25;
            margin-bottom: 1.5rem;
        }
    }

    &_background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 5000;
    }
}
